:root {
  --black: #2d2827;
  --white-two: #d7d7d7;
  --white-three: #eeeeee;
  --greyish-brown: #555555;
  --mushroom: #ac907f;
  --pinkish-grey: #cccccc;
  --greyish: #a8a8a8;
  --white-four: #e5e5e5;
  --black-two: #000000;
  --black-three: #333333;
  --white-five: #ffffff;
  --white: #f5f5f5;
  --brown-grey: #999999;
}
body{
  background-color: var(--black);
}
.navbar {
  width: 40px;
  height: 12px;
  font-family: 'Dosis';
  font-size: 16px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 0.8px;
  text-align: left;
  color: #666666;
  display: inline-flex;
  margin-right: 70px;
  }
  .top{
  width: 1900px;
  height: 53px;
  background-color: var(--black);
  }
  .logo{
    width: 160px;
    height: 22px;
    font-family: 'Dosis';
    font-size: 30px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 1.5px;
    text-align: left;
    margin-left: 20px;

    color: var(--black-two);
  }

  #cart{
    width: 21px;
    height: 18px;
    font-family: FontAwesome;
    font-size: 22px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 1.1px;
    text-align: left;
    padding-right: 20px;
    color: #666666;
  }

  #search{
    width: 19px;
    height: 19px;
    font-family: Linearicons-Free;
    font-size: 20px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 1px;
    text-align: left;
    color: #666666;
  }
  
  .iconav {
    width: 100%;
    height: 93px;
    background-color: var(--white-five);
  }

  .iconav .column{
    float: left;
    width: 33.33%;
    padding: 10px;
    height: 300px;
     /* Should be removed. Only for demonstration */
  }
  /* Clear floats after the columns */
  .iconav .row:after {
    content: "";
    display: table;
    clear: both;
  }

  .shop-nav {
    width: 1900px;
    height: 93px;
    background-color: var(--white-five);
  }

  .shopnav #nav{
    margin-top: 2%;
    margin-left: 0%;
    margin-right: 20px;
  }

  .home {
    width: 40px;
    height: 12px;
    font-family: 'Dosis';
    font-size: 16px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0.8px;
    text-align: left;
    padding-right: 120px;
    color: #666666;
  }
.look{
    width: 132px;
    height: 35px;
    font-family: 'Source Sans Pro';
    font-size: 50px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.2;
    letter-spacing: 5px;
    text-align: center;
    padding-left: 43%;
    color: var(--white-five);
  }

  * {
    box-sizing: border-box;
  }
  
  .column {
    float: left;
   width: 25%;
    padding: 5px;
    padding-top: 30px;
  }
  
  /* Clearfix (clear floats) */
  .row::after {
    content: "";
    clear: both;
    display: table;
  }

  

  #pics{
    width: 100%;  
    height: 360px;
    background-color: #666666;
  }

  .lookbook img{
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

 .lookbook #overlay {
  
   
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.5); /* Black see-through */
    color: #f1f1f1; 
    width: 100%;
    transition: .5s ease;
    opacity:0;
    color: white;
    font-size: 20px;
    
    text-align: center;
  }
  
  /* When you mouse over the container, fade in the overlay title */
  .lookbook #overlay {
    opacity: 1;
  }

  .footer{
    width: 100%;
    height: 400px;
   
    background-color: var(--black);
  }
  .footer .column {
    float: left;
    width: 25%;
  }
  
  .footer .row:after {
    content: "";
    display: table;
    clear: both;
  }
  .footer #logo{
    
      width: 117px;
      height: 21px;
      font-family: 'Dosis';
      font-size: 30px;
      font-weight: 600;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: 1.5px;
      text-align: left;
      color: var(--white-four);
    
  }
  .footer #links{
    width: 46px;
    height: 12px;
    font-family: 'Source Sans Pro';
    font-size: 18px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.33;
    letter-spacing: normal;
    text-align: left;
    color: var(--white-four);
  }
  .footer #shop{
    width: 45px;
    height: 12px;
    font-family: 'Source Sans Pro';
    font-size: 18px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.33;
    letter-spacing: normal;
    text-align: left;
    color: var(--white-four);
  }
  .footer #instagram-p {
    width: 91px;
    height: 13px;
    font-family: 'Source Sans Pro';
    font-size: 18px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.33;
    letter-spacing: normal;
    text-align: left;
    color: var(--white-five);
  }
  .loca{
    padding-top: 10%;
  }
  #location{
    width: 232px;
    height: 18px;
    font-family: 'Source Sans Pro';
    font-size: 15px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.6;
    letter-spacing: normal;
    text-align: left;
    color: var(--brown-grey);
  }
  
  #location-icon {
    font-family: Linearicons-Free;
  }
  
   #cell-no{
    width: 128px;
    height: 14px;
    font-family: 'Source Sans Pro';
    font-size: 15px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.6;
    letter-spacing: normal;
    text-align: left;
    margin-top: 9%;
    color: var(--brown-grey);
  }
  
   #cell-icon {
    font-family: FontAwesome;
    margin-top: 9%;
  }
  
   #gmail {
    width: 207px;
    height: 14px;
    font-family: 'Source Sans Pro';
    font-size: 15px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.6;
    letter-spacing: normal;
    text-align: left;
    margin-top: 9%;
    color: var(--brown-grey);
  }
  
  .email #google-icon {
    font-family: FontAwesome;
    margin-top: 9%;
  }
  
  #product{
    width: 56px;
    height: 11px;
    font-family: 'Source Sans Pro';
    font-size: 15px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.6;
    letter-spacing: normal;
    text-align: left;
    margin-top: 16%;
    color: var(--brown-grey);
  }
  
  #featured {
    width: 54px;
    height: 11px;
    font-family: 'Source Sans Pro';
    font-size: 15px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.6;
    letter-spacing: normal;
    text-align: left;
    margin-top: 10%;
    color: var(--brown-grey);
  }
  
  #privacy {
    width: 120px;
    height: 14px;
    font-family: 'Source Sans Pro';
    font-size: 15px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.6;
    letter-spacing: normal;
    text-align: left;
    margin-top: 13%;
    color: var(--brown-grey);
  }
  
  #blog-l {
    width: 28px;
    height: 14px;
    font-family: 'Source Sans Pro';
    font-size: 15px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.6;
    letter-spacing: normal;
    text-align: left;
    margin-top: 13%;
    color: var(--brown-grey);
  }
  
  #men {
    width: 25px;
    height: 10px;
    font-family: 'Source Sans Pro';
    font-size: 15px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.6;
    letter-spacing: normal;
    text-align: left;
    margin-top: 16%;
    color: var(--brown-grey);
  }
  
  #women {
    width: 47px;
    height: 10px;
    font-family: 'Source Sans Pro';
    font-size: 15px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.6;
    letter-spacing: normal;
    text-align: left;
    margin-top: 10%;
    color: var(--brown-grey);
  }
  
  #look {
    width: 62px;
    height: 11px;
    font-family: 'Source Sans Pro';
    font-size: 15px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.6;
    letter-spacing: normal;
    text-align: left;
    margin-top: 13%;
    color: var(--brown-grey);
  }
  
  #support {
    width: 52px;
    height: 13px;
    font-family: 'Source Sans Pro';
    font-size: 15px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.6;
    letter-spacing: normal;
    text-align: left;
    margin-top: 13%;
    color: var(--brown-grey);
  }
  
  .footer #insta-pics {
    width: 80px;
    height: 80px;
    margin-top: 2%;
    margin-left: 0%;
    margin-right: 1%;
    display: none;
    background-color: var(--white-five);
  }
  
  .footer img{
    width: 100%;
    height: 100%;
    display: none;
    object-fit: cover;
  }
  
  .footer-small {
    width: 100%;
    height: 85px;
    background-color: var(--white-two);
  }
  
  #last-footer {
    width: 450px;
    height: 14px;
    font-family: 'Source Sans Pro';
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.71;
    letter-spacing: normal;
    text-align: center;
    margin-left: 700px;
    color: #666666;
  }