:root {
  --black: #2d2827;
  --white-two: #d7d7d7;
  --white-three: #eeeeee;
  --greyish-brown: #555555;
  --mushroom: #ac907f;
  --pinkish-grey: #cccccc;
  --greyish: #a8a8a8;
  --white-four: #e5e5e5;
  --black-two: #000000;
  --black-three: #333333;
  --white-five: #ffffff;
  --white: #f5f5f5;
  --brown-grey: #999999;
}

body{
  width: 1900px;
  height: 4500px;
}
.holder{
  background-image: url("../images/nike1.jpg");
  width: 1900px;
  height: 945px;
  background-color: var(--black-three);
}


a{
  text-transform: uppercase;
}
.pre-header{width: 349px;
height: 9px;
font-family: 'SourceSansPro';
font-size: 12px;
font-weight: normal;
font-style: normal;
font-stretch: normal;
line-height: 1.83;
letter-spacing: 2.4px;
text-align: left;
color: #999999;
}
.pre-header{
      width: 100%;
      height: 53px;
      background-color: var(--black);
}
.lang{
  width: 13px;
  height: 9px;
  font-family: 'Source Sans Pro';
  font-size: 12px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #999999;
}
* {
  box-sizing: border-box;
}
#contact{
  width: 111px;
  height: 15px;
  font-family: FontAwesome;
  font-size: 15px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #999999;
}
/* Create three equal columns that floats next to each other */
.column{
  float: left;
  width: 33.33%;
  padding: 10px;
  height: 300px;
   /* Should be removed. Only for demonstration */
}
/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}
/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
  }
}
@media screen and (max-width:500px) {
  .column {
    width:100%;
  }
}
.denim{
  width: 1900px;
  height: 945px;
}
.fa {
font-size:24px;
}
.BG {
width: 1900px;
height: 93px;
background-color: whitesmoke;
}
.navigation {
width: 40px;
height: 12px;
font-family: 'Dosis';
font-size: 16px;
font-weight: 600;
font-style: normal;
font-stretch: normal;
line-height: normal;
letter-spacing: 0.8px;
text-align: left;
color: #666666;
display: inline;
}
.top{
width: 1900px;
height: 53px;
background-color: var(--black);
}
.home {
  width: 36px;
  height: 11px;
  font-family: 'Dosis';
  font-size: 15px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 0.75px;
  text-align: left;
  color: var(--black);
}

.shop {
  width: 34px;
  height: 11px;
  font-family: 'Dosis';
  font-size: 15px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 0.75px;
  text-align: left;
  color: var(--black);
}
.about {
  width: 44px;
  height: 11px;
  font-family: 'Dosis';
  font-size: 15px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 0.75px;
  text-align: left;
  color: var(--black);
}
.logo{
width: 117px;
height: 21px;
font-family: 'Dosis';
font-size: 30px;
font-weight: 600;
font-style: normal;
font-stretch: normal;
line-height: normal;
letter-spacing: 1.5px;
text-align: left;
color:var(--black);
}

.blog {
  width: 32px;
  height: 11px;
  font-family: Dosis;
  font-size: 15px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 0.75px;
  text-align: left;
  color: var(--black);
}
.contact{
width: 66px;
height: 11px;
font-family: 'Dosis';
font-size: 15px;
font-weight: normal;
font-style: normal;
font-stretch: normal;
line-height: normal;
letter-spacing: 0.75px;
text-align: left;
color: var(--black);
}
.lookbook{
  width: 77px;
  height: 11px;
  font-family: Dosis;
  font-size: 15px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 0.75px;
  text-align: left;
  color: var(--black);
}
#search  {
  width: 22px;
  height: 23px;
  font-family: Linearicons-Free;
  font-size: 22px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 1.1px;
  text-align: left;
  color: var(--black);
}

#cart{
  
    width: 21px;
    height: 18px;
    font-family: FontAwesome;
    font-size: 22px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 1.1px;
    text-align: left;
    margin-block-start: 35px;
    color: var(--black);
  
}

#description {
  width: 597px;
  height: 38px;
  font-family: 'Dosis';
  font-size: 50px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 0.96;
  letter-spacing: normal;
  text-align: center;
  color: var(--black);
  }
  .intro {
    
      width: 924px;
      height: 39px;
      font-family: 'Source Sans Pro';
      font-size: 15px;
      font-weight: bold;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.67;
      letter-spacing: normal;
      text-align: left;
      color:var(--black);
      padding-left: 55px;
    
  }
  #button {
  width: 150px;
  height: 40px;
  border-radius: 20px;
  background-color: #a88d7b;
  margin-left:130%;
  margin-top: 30%;
  font-family: 'Source Sans Pro';
  font-size: 15px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 3.2;
  letter-spacing: 1.5px;
  text-align: center;
  color: var(--white-five);
  }
  
  #lookdown{
      width: 29px;
      height: 16px;
      margin-left: 840px;
      font-family: Linearicons-Free;
      font-size: 30px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.6;
      letter-spacing: normal;
      text-align: center;
      color: var(--black);
    
  }

  #title {
    width: 1100px;
    height: 38px;
    font-family: Dosis;
    font-size: 50px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 48px;
    letter-spacing: normal;
    text-align: left;
    color: var(--white-five);
    display: inline-block;
    padding-left: 170px;
  }
  #advert {
  width: 313px;
  height: 24px;
  font-family: 'Source Sans Pro';
  font-size: 36px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.33;
  letter-spacing: normal;
  text-align: center;
  margin-left: 35%;
  display: inline;
  color: var(--black-three);
  }
  
  
  #denim {
  width: 370px;
  height: 360px;
  background-color: #666666;
  }
  
  #describe {
  width: 200px;
  height: 18px;
  font-family: 'Source Sans Pro';
  font-size: 20px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: 2.4;
  letter-spacing: normal;
  text-align: center;
  color: var(--black-three);
  }
  #price {
  width: 52px;
  height: 11px;
  font-family: 'Source Sans Pro';
  font-size: 15px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: 3.2;
  letter-spacing: normal;
  text-align: center;
  color: #999999;
  }
  .new {
  width: 1900px;
  height: 150px;
  background-color: var(--white-five);
  margin-top:20%;
  text-align: center;
  }
  #ad {
  width: 313px;
  height: 24px;
  font-family: 'Source Sans Pro';
  font-size: 36px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.33;
  letter-spacing: normal;
  text-align: center;
  margin-left: 30%;
  margin-right:40%;
  display: inline;
  color: var(--black-three);
  }
  
  .new .column{
    
    margin-left: 10%;
  }
  .new .denim{
    width: 570px;
    height: 373px;
    background-color: #666666;
  }
  .new #describe {
    width: 49px;
    height: 16px;
    font-family: 'Source Sans Pro';
    font-size: 25px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.92;
    letter-spacing: 2.5px;
    text-align: center;
    color: #a88d7b;
  }

  .more{
    width: 1900px;
    height: 552px;
    opacity: 0.9;
    margin-top: 25%;
    background-color: #282828;
  }
  
  .more #range{
    width: 800px;
    height: 37px;
    font-family: 'Dosis';
    font-size: 48px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 0.5;
    letter-spacing: normal;
    text-align: center;
    margin-top: 10%;
    margin-right: 70%;
    margin-left: 2%;
    color: var(--white-five);
  }
  
  .more #more-p {
    width: 850px;
    height: 38px;
    font-family: 'Source Sans Pro';
    font-size: 15px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.6;
    letter-spacing: normal;
    text-align: center;
    color: var(--white-five);
  }
  
  #view-more {
  
     width: 150px;
    height: 40px;
    background-color: #a88d7b;
    font-family: 'Source Sans Pro';
    font-size: 15px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 3.2;
    letter-spacing: normal;
    text-align: center;
    color: var(--white-five);
  }
  
  .button-more{
    margin-top: 20%;
    margin-left: 25%;
  }

  .blog-s #our {
    width: 200px;
    height: 24px;
    font-family: 'Source Sans Pro';
    font-size: 36px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.33;
    letter-spacing: normal;
    text-align: center;
    margin-top: 5%;
    margin-right: 70%;
    margin-left: 25%;
    color: var(--black-three);
  }
  
  .column #our-pic{
    width: 585px;
    height: 405px;
    margin-right: 40%;
    margin-top: 10%;
    background-color: #666666;
  }
  
  .blog-s #details{
    margin-left: 20%;
    margin-top: 3%;
  }
  
  #accessories{
    width: 339px;
    height: 23px;
    font-family: 'Source Sans Pro';
    font-size: 25px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.92;
    letter-spacing: normal;
    text-align: left;
    color: var(--black-three);
  }
  
  #date {
    width: 150px;
    height: 14px;
    font-family: 'Source Sans Pro';
    font-size: 15px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 3.2;
    letter-spacing: normal;
    text-align: left;
    color: var(--brown-grey);
  }
  
  #living{
    width: 529px;
    height: 239px;
    font-family: 'Source Sans Pro';
    font-size: 15px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.67;
    letter-spacing: normal;
    text-align: left;
    margin-top: 10%;
    color: #666666;
  }
  
  #read-more{
    width: 150px;
    height: 10px;
    font-family: 'Source Sans Pro';
    font-size: 15px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 3.2;
    letter-spacing: 1.5px;
    text-align: left;
    color: #a88d7b;
  }

  #right {
    width: 15px;
    height: 11px;
    font-family: Linearicons-Free;
    font-size: 15px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 3.2;
    letter-spacing: normal;
    text-align: left;
    color: #a88d7b;
  }
  
  .footer{
    width: 1900px;
    height: 425px;
    margin-top: 10%;
    background-color: var(--black);
  }
  .footer .column {
    float: left;
    width: 25%;
  }
  
  .footer .row:after {
    content: "";
    display: table;
    clear: both;
  }
  .footer #logo{
    
      width: 117px;
      height: 21px;
      font-family: 'Dosis';
      font-size: 30px;
      font-weight: 600;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: 1.5px;
      text-align: left;
      color: var(--white-four);
    
  }
  .footer #links{
    width: 46px;
    height: 12px;
    font-family: 'Source Sans Pro';
    font-size: 18px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.33;
    letter-spacing: normal;
    text-align: left;
    color: var(--white-four);
  }
  .footer #shop{
    width: 45px;
    height: 12px;
    font-family: 'Source Sans Pro';
    font-size: 18px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.33;
    letter-spacing: normal;
    text-align: left;
    color: var(--white-four);
  }
  .footer .instagram {
    width: 91px;
    height: 13px;
    font-family: 'Source Sans Pro';
    font-size: 18px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.33;
    letter-spacing: normal;
    text-align: left;
    color: var(--white-five);
  }
  .loca{
    padding-top: 10%;
  }
  #location{
    width: 232px;
    height: 18px;
    font-family: 'Source Sans Pro';
    font-size: 15px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.6;
    letter-spacing: normal;
    text-align: left;
    color: var(--brown-grey);
  }
  
  #location-icon {
    font-family: Linearicons-Free;
  }
  
   #cell-no{
    width: 128px;
    height: 14px;
    font-family: 'Source Sans Pro';
    font-size: 15px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.6;
    letter-spacing: normal;
    text-align: left;
    margin-top: 9%;
    color: var(--brown-grey);
  }
  
   #cell-icon {
    font-family: FontAwesome;
    margin-top: 9%;
  }
  
   #gmail {
    width: 207px;
    height: 14px;
    font-family: 'Source Sans Pro';
    font-size: 15px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.6;
    letter-spacing: normal;
    text-align: left;
    margin-top: 9%;
    color: var(--brown-grey);
  }
  
  .email #google-icon {
    font-family: FontAwesome;
    margin-top: 9%;
  }
  
  #product{
    width: 56px;
    height: 11px;
    font-family: 'Source Sans Pro';
    font-size: 15px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.6;
    letter-spacing: normal;
    text-align: left;
    margin-top: 16%;
    color: var(--brown-grey);
  }
  
  #featured {
    width: 54px;
    height: 11px;
    font-family: 'Source Sans Pro';
    font-size: 15px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.6;
    letter-spacing: normal;
    text-align: left;
    margin-top: 10%;
    color: var(--brown-grey);
  }
  
  #privacy {
    width: 120px;
    height: 14px;
    font-family: 'Source Sans Pro';
    font-size: 15px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.6;
    letter-spacing: normal;
    text-align: left;
    margin-top: 13%;
    color: var(--brown-grey);
  }
  
  #blog-l {
    width: 28px;
    height: 14px;
    font-family: 'Source Sans Pro';
    font-size: 15px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.6;
    letter-spacing: normal;
    text-align: left;
    margin-top: 13%;
    color: var(--brown-grey);
  }
  
  #men {
    width: 25px;
    height: 10px;
    font-family: 'Source Sans Pro';
    font-size: 15px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.6;
    letter-spacing: normal;
    text-align: left;
    margin-top: 16%;
    color: var(--brown-grey);
  }
  
  #women {
    width: 47px;
    height: 10px;
    font-family: 'Source Sans Pro';
    font-size: 15px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.6;
    letter-spacing: normal;
    text-align: left;
    margin-top: 10%;
    color: var(--brown-grey);
  }
  
  #look {
    width: 62px;
    height: 11px;
    font-family: 'Source Sans Pro';
    font-size: 15px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.6;
    letter-spacing: normal;
    text-align: left;
    margin-top: 13%;
    color: var(--brown-grey);
  }
  
  #support {
    width: 52px;
    height: 13px;
    font-family: 'Source Sans Pro';
    font-size: 15px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.6;
    letter-spacing: normal;
    text-align: left;
    margin-top: 13%;
    color: var(--brown-grey);
  }
  
  .footer #insta-pics {
    width: 80px;
    height: 80px;
    margin-top: 2%;
    margin-left: 0%;
    margin-right: 1%;
    background-color: var(--white-five);
  }  