:root {
    --black: #2d2827;  
  }
  
body{
    width: 1900px;
    height: 4500;
}
.bg {
    width: 1900px;
    height: 53px;
    background-color: var(--black);
    display: flex;
  }

.column{
    float: left;
    width: 33.33px;
    
}
.left, .right {
    width: 25%;
  }
  
  .middle {
    width: 50%;
  }

.row:after{
    content: "";
    display: table;
    clear: both;
}
.en {
    width: 13px;
    height: 9px;
    font-family: 'Source Sans Pro';
    font-size: 12px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #999999;
    display: inline-flex;
  }

.fa-sort-desc {
    width: 7px;
    height: 5px;
    font-family: FontAwesome;
    font-size: 12px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #999999;
  }  

 .zar {
    width: 21px;
    height: 9px;
    font-family: 'Source Sans Pro';
    font-size: 12px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #999999;
    display: inline-flex;
  }

.shipping {
    width: 349%;
    height: 9px;
    font-family: 'Source Sans Pro';
    font-size: 12px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.83;
    letter-spacing: 2.4px;
    text-align: left;
    color: #999999;
    text-transform: uppercase;
    
  }

